<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(find thorp_gazebo)/worlds/playground.world"/>
  </include>
  
  <include file="$(find thorp_gazebo)/launch/includes/thorp.launch.xml"/>

</launch>
