<?xml version="1.0"?>

<model>
  <name>Fun House</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Taehun Lim(Darby)</name>
    <email>thlim@robotis.com</email>
  </author>

  <description>
    turtlebot3_gazebo's Turtlebot3 House, with narrower passages between rooms and without the cafe and
    marble tables; its textures come from turtlebot3_gazebo's turtlebot3_house model
  </description>
</model>
