<!--
  Thorp manipulation
 -->

<launch>
  <arg name="debug" default="false"/>
  <arg name="simulation" default="false"/>

  <!--  ****** Manipulation and interaction nodes *****  -->

  <node pkg="thorp_manipulation" type="manipulation_server" name="manipulation_server" output="screen" respawn="true">
    <rosparam if="$(arg simulation)" file="$(find thorp_manipulation)/param/pick_and_place_gazebo.yaml" command="load"/>
    <rosparam unless="$(arg simulation)" file="$(find thorp_manipulation)/param/pick_and_place.yaml" command="load"/>
  </node>

  <node pkg="thorp_manipulation" type="picking_planner_server.py" name="picking_planner" output="screen" respawn="true"/>

  <node pkg="thorp_manipulation" type="scene_interaction_server" name="scene_interaction" output="screen" respawn="true"/>

  <node if="$(arg simulation)"
        pkg="gazebo_grasp_plugin_ros" type="grasp_event_republisher" name="grasp_event_republisher" output="screen" respawn="true">
    <remap from="~grasp_events" to="/gazebo/grasp_events"/>
  </node>

  <!--  ************** Moveit move groups *************  -->

  <include file="$(find thorp_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="load_robot_description" value="false"/>
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>
</launch>
