<!--
  Thorp manipulation
 -->

<launch>
  <arg name="debug" default="false"/>
  <arg name="simulation" default="false"/>

  <!--  ****** Manipulation and interaction nodes *****  -->

  <node pkg="thorp_manipulation" type="thorp_arm_ctrl_server" name="thorp_arm_ctrl_server" output="screen" respawn="true">
    <rosparam if="$(arg simulation)" file="$(find thorp_manipulation)/param/pick_and_place_gazebo.yaml" command="load"/>
    <rosparam unless="$(arg simulation)" file="$(find thorp_manipulation)/param/pick_and_place.yaml" command="load"/>
  </node>

  <node pkg="thorp_manipulation" type="scene_interaction_server" name="scene_interaction_server" output="screen" respawn="true">
  </node>

  <!--  ************** Moveit move groups *************  -->

  <include file="$(find thorp_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="load_robot_description" value="false"/>
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>
</launch>
