<?xml version="1.0"?>
<!--
  TurtleBot 2 configuration
    - Base      : kobuki
    - Stacks    : hexagons
    - 3d Sensor : kinect

  Thorp addons
    - 11 sonar links
    - 4 IR sensor links
-->    
<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_library.urdf.xacro"/>
  
  <kobuki/>
  <stack_hexagons parent="base_link"/>
  <sensor_kinect  parent="base_link"/>

  <!-- Sonar links forming a half ring centered on (and slightly above) base_link-->
  <joint name="s_m90_joint" type="fixed">
    <origin xyz="0.0     -0.15500 0.09" rpy="0.0 0.0 -1.57080"/>
    <parent link="base_link"/>
    <child link="s_m90_link"/>
  </joint>
  <link name="s_m90_link"/>

  <joint name="s_m72_joint" type="fixed">
    <origin xyz="0.04790 -0.14741 0.09" rpy="0.0 0.0 -1.25664"/>
    <parent link="base_link"/>
    <child link="s_m72_link"/>
  </joint>
  <link name="s_m72_link"/>

  <joint name="s_m54_joint" type="fixed">
    <origin xyz="0.09111 -0.12540 0.09" rpy="0.0 0.0 -0.94248"/>
    <parent link="base_link"/>
    <child link="s_m54_link"/>
  </joint>
  <link name="s_m54_link"/>

  <joint name="s_m36_joint" type="fixed">
    <origin xyz="0.12540 -0.09111 0.09" rpy="0.0 0.0 -0.62832"/>
    <parent link="base_link"/>
    <child link="s_m36_link"/>
  </joint>
  <link name="s_m36_link"/>

  <joint name="s_m18_joint" type="fixed">
    <origin xyz="0.14741 -0.04790 0.09" rpy="0.0 0.0 -0.31416"/>
    <parent link="base_link"/>
    <child link="s_m18_link"/>
  </joint>
  <link name="s_m18_link"/>

  <joint name="s_0_joint" type="fixed">
    <origin xyz="0.155    0.0     0.09" rpy="0.0 0.0 0.0"/>
    <parent link="base_link"/>
    <child link="s_0_link"/>
  </joint>
  <link name="s_0_link"/>

  <joint name="s_p18_joint" type="fixed">
    <origin xyz="0.14741  0.04790 0.09" rpy="0.0 0.0 0.31416"/>
    <parent link="base_link"/>
    <child link="s_p18_link"/>
  </joint>
  <link name="s_p18_link"/>

  <joint name="s_p36_joint" type="fixed">
    <origin xyz="0.12540  0.09111 0.09" rpy="0.0 0.0 0.62832"/>
    <parent link="base_link"/>
    <child link="s_p36_link"/>
  </joint>
  <link name="s_p36_link"/>

  <joint name="s_p54_joint" type="fixed">
    <origin xyz="0.09111  0.12540 0.09" rpy="0.0 0.0 0.94248"/>
    <parent link="base_link"/>
    <child link="s_p54_link"/>
  </joint>
  <link name="s_p54_link"/>

  <joint name="s_p72_joint" type="fixed">
    <origin xyz="0.04790  0.14741 0.09" rpy="0.0 0.0 1.25664"/>
    <parent link="base_link"/>
    <child link="s_p72_link"/>
  </joint>
  <link name="s_p72_link"/>

  <joint name="s_p90_joint" type="fixed">
    <origin xyz="0.0      0.155   0.09" rpy="0.0 0.0 1.57080"/>
    <parent link="base_link"/>
    <child link="s_p90_link"/>
  </joint>
  <link name="s_p90_link"/>

  <!-- IR sensor links, pointing at -155, pi, pi and 155 degrees -->
  <joint name="ir_l155_joint" type="fixed">
    <origin xyz="-0.08  0.12 0.2" rpy="0.0 0.0 2.70526034059"/>
    <parent link="base_link"/>
    <child link="ir_l155_link"/>
  </joint>
  <link name="ir_l155_link"/>

  <joint name="ir_l180_joint" type="fixed">
    <origin xyz="-0.10  0.08 0.2" rpy="0.0 0.0 3.14159265359"/>
    <parent link="base_link"/>
    <child link="ir_l180_link"/>
  </joint>
  <link name="ir_l180_link"/>

  <joint name="ir_r180_joint" type="fixed">
    <origin xyz="-0.10 -0.08 0.2" rpy="0.0 0.0 3.14159265359"/>
    <parent link="base_link"/>
    <child link="ir_r180_link"/>
  </joint>
  <link name="ir_r180_link"/>

  <joint name="ir_r155_joint" type="fixed">
    <origin xyz="-0.08 -0.12 0.2" rpy="0.0 0.0 -2.70526034059"/>
    <parent link="base_link"/>
    <child link="ir_r155_link"/>
  </joint>
  <link name="ir_r155_link"/>
</robot>