<?xml version="1.0"?>
<!--
  TurtleBot 2 configuration
    - Base      : kobuki
    - Stacks    : hexagons
    - 3d Sensor : kinect

  Thorp addons
    - 11 sonar links
    - 4 IR sensor links
    - Turtlebot arm
    - Senz3D camera
-->
<robot name="Thorp" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_library.urdf.xacro"/>
  <xacro:include filename="$(find turtlebot_arm_description)/urdf/arm.xacro"/>
  
  <!-- Plain Turtlebot 2 -->
  <kobuki/>
  <stack_hexagons parent="base_link"/>
  <sensor_kinect  parent="base_link"/>

  <!-- Turtlebot arm plus mounting on Thorp -->
  <!-- Note that the arm position is biased to the left of the robot, and the dead angle also
       points to the left; with this configuration, the arm can reach most of the top plate -->
  <turtlebot_arm parent="plate_top_link" color="white" gripper_color="black"
                 joints_vlimit="0.3571" pan_llimit="-4.189" pan_ulimit="1.047">
                 
    <origin xyz="0.11214 0.0295 0.0284"/>
  </turtlebot_arm>
  
  <arm_mount parent="arm_base_link" name="arm_mount" color="black">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </arm_mount>
  <stack_bottom_pole parent="arm_base_link" number="10" x_loc=" 0.0"   y_loc=" 0.0288" z_loc="-0.0112"/>
  <stack_bottom_pole parent="arm_base_link" number="11" x_loc=" 0.0"   y_loc="-0.0288" z_loc="-0.0112"/>
  <stack_bottom_pole parent="arm_base_link" number="12" x_loc="-0.038" y_loc="-0.0288" z_loc="-0.0112"/>
  <stack_bottom_pole parent="arm_base_link" number="13" x_loc="-0.038" y_loc=" 0.0288" z_loc="-0.0112"/>

  <!-- Emulate the OpenCM9.04 as a box -->
  <joint name="opencm_joint" type="fixed">
    <origin xyz="0.045 0.03 0.008" rpy="0.0 0.0 0.0"/>
    <parent link="plate_top_link"/>
    <child link="opencm_joint_link"/>
  </joint>
  <link name="opencm_joint_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.027 0.0665 0.01"/>
      </geometry>
      <material name="green">
        <color rgba="0.22 0.32 0.14 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.027 0.0665 0.012"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.01"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0"
        iyy="0.001" iyz="0.0"
        izz="0.001"/>
    </inertial>
  </link>

  <!-- Senz3D camera plus mounting on Thorp -->
  
  <!-- Mounting poles: we emulate one top and two middle poles overlapping two top poles -->
  <!-- The Z loc of the upper poles is : 1/2*plate height + 1/2*top pole height + 2*middle pole height (without screw) -->
  <stack_top_pole parent="plate_top_link" number="10" x_loc="-0.0874" y_loc=" 0.098" z_loc="${0.006/2 + 0.2032/2}"/>
  <stack_top_pole parent="plate_top_link" number="11" x_loc="-0.0874" y_loc="-0.098" z_loc="${0.006/2 + 0.2032/2}"/>
  <stack_top_pole parent="plate_top_link" number="12" x_loc="-0.0874" y_loc=" 0.098" z_loc="${0.006/2 + 0.2032/2 + 0.1}"/>
  <stack_top_pole parent="plate_top_link" number="13" x_loc="-0.0874" y_loc="-0.098" z_loc="${0.006/2 + 0.2032/2 + 0.1}"/>
  
  <!-- Mounting plate; this structure is provisional -->
  <joint name="senz3d_mount_joint" type="fixed">
    <origin xyz="-0.0874 0.0 ${0.2032 + 0.006 + 0.1}" rpy="0.0 0.0 0.0"/>
    <parent link="plate_top_link"/>
    <child link="senz3d_mount_link"/>
  </joint>
  <link name="senz3d_mount_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.02 0.24 0.006"/>
      </geometry>
      <material name="black">
        <color rgba="0.0 0.0 0.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.02 0.24 0.006"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.01"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0"
        iyy="0.001" iyz="0.0"
        izz="0.001"/>
    </inertial>
  </link>

  <!-- Camera -->
  <joint name="senz3d_camera_joint" type="fixed">
    <origin xyz="-0.045 -0.062 0.345" rpy="${M_PI/2 + 0.907571211037} 0.0 ${M_PI/2}"/>
    <parent link="plate_top_link"/>
    <child link="senz3d_camera_link"/>
  </joint>
  <link name="senz3d_camera_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <!-- As we don't have a Senz3D mesh, use a deformed Asus Xtion Pro instead -->
        <mesh filename="package://turtlebot_description/meshes/sensors/asus_xtion_pro_live.dae" scale="0.0006 0.0015 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 -0.005" rpy="0 0 0"/>
      <geometry>
      <box size="0.11 0.04 0.04"/>
    </geometry>
    </collision>
    <inertial>
      <mass value="0.01"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0"
        iyy="0.001" iyz="0.0"
        izz="0.001"/>
    </inertial>
  </link>

  <!-- Sonar links forming a half ring centered on (and slightly above) base_link-->
  <joint name="s_m90_joint" type="fixed">
    <origin xyz="0.0     -0.15500 0.09" rpy="0.0 0.0 -1.57080"/>
    <parent link="base_link"/>
    <child link="s_m90_link"/>
  </joint>
  <link name="s_m90_link"/>

  <joint name="s_m72_joint" type="fixed">
    <origin xyz="0.04790 -0.14741 0.09" rpy="0.0 0.0 -1.25664"/>
    <parent link="base_link"/>
    <child link="s_m72_link"/>
  </joint>
  <link name="s_m72_link"/>

  <joint name="s_m54_joint" type="fixed">
    <origin xyz="0.09111 -0.12540 0.09" rpy="0.0 0.0 -0.94248"/>
    <parent link="base_link"/>
    <child link="s_m54_link"/>
  </joint>
  <link name="s_m54_link"/>

  <joint name="s_m36_joint" type="fixed">
    <origin xyz="0.12540 -0.09111 0.09" rpy="0.0 0.0 -0.62832"/>
    <parent link="base_link"/>
    <child link="s_m36_link"/>
  </joint>
  <link name="s_m36_link"/>

  <joint name="s_m18_joint" type="fixed">
    <origin xyz="0.14741 -0.04790 0.09" rpy="0.0 0.0 -0.31416"/>
    <parent link="base_link"/>
    <child link="s_m18_link"/>
  </joint>
  <link name="s_m18_link"/>

  <joint name="s_0_joint" type="fixed">
    <origin xyz="0.155    0.0     0.09" rpy="0.0 0.0 0.0"/>
    <parent link="base_link"/>
    <child link="s_0_link"/>
  </joint>
  <link name="s_0_link"/>

  <joint name="s_p18_joint" type="fixed">
    <origin xyz="0.14741  0.04790 0.09" rpy="0.0 0.0 0.31416"/>
    <parent link="base_link"/>
    <child link="s_p18_link"/>
  </joint>
  <link name="s_p18_link"/>

  <joint name="s_p36_joint" type="fixed">
    <origin xyz="0.12540  0.09111 0.09" rpy="0.0 0.0 0.62832"/>
    <parent link="base_link"/>
    <child link="s_p36_link"/>
  </joint>
  <link name="s_p36_link"/>

  <joint name="s_p54_joint" type="fixed">
    <origin xyz="0.09111  0.12540 0.09" rpy="0.0 0.0 0.94248"/>
    <parent link="base_link"/>
    <child link="s_p54_link"/>
  </joint>
  <link name="s_p54_link"/>

  <joint name="s_p72_joint" type="fixed">
    <origin xyz="0.04790  0.14741 0.09" rpy="0.0 0.0 1.25664"/>
    <parent link="base_link"/>
    <child link="s_p72_link"/>
  </joint>
  <link name="s_p72_link"/>

  <joint name="s_p90_joint" type="fixed">
    <origin xyz="0.0      0.155   0.09" rpy="0.0 0.0 1.57080"/>
    <parent link="base_link"/>
    <child link="s_p90_link"/>
  </joint>
  <link name="s_p90_link"/>

  <!-- IR sensor links, pointing at -155, pi, pi and 155 degrees -->
  <joint name="ir_l155_joint" type="fixed">
    <origin xyz="-0.08  0.12 0.2" rpy="0.0 0.0 2.70526034059"/>
    <parent link="base_link"/>
    <child link="ir_l155_link"/>
  </joint>
  <link name="ir_l155_link"/>

  <joint name="ir_l180_joint" type="fixed">
    <origin xyz="-0.10  0.08 0.2" rpy="0.0 0.0 3.14159265359"/>
    <parent link="base_link"/>
    <child link="ir_l180_link"/>
  </joint>
  <link name="ir_l180_link"/>

  <joint name="ir_r180_joint" type="fixed">
    <origin xyz="-0.10 -0.08 0.2" rpy="0.0 0.0 3.14159265359"/>
    <parent link="base_link"/>
    <child link="ir_r180_link"/>
  </joint>
  <link name="ir_r180_link"/>

  <joint name="ir_r155_joint" type="fixed">
    <origin xyz="-0.08 -0.12 0.2" rpy="0.0 0.0 -2.70526034059"/>
    <parent link="base_link"/>
    <child link="ir_r155_link"/>
  </joint>
  <link name="ir_r155_link"/>
</robot>