<?xml version="1.0"?>
<robot name="thorp_gazebo" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Simulated Creative Senz3d camera -->
  <gazebo reference="senz3d_camera">  
    <sensor type="depth" name="senz3d">
      <always_on>true</always_on>
      <update_rate>20.0</update_rate>
      <camera>
        <horizontal_fov>${74.0*M_PI/180.0}</horizontal_fov>
        <image>
          <format>R8G8B8</format>
          <width>320</width>
          <height>240</height>
        </image>
        <clip>
          <near>0.05</near>
          <far>8.0</far>
        </clip>
      </camera>
      <plugin name="kinect_camera_controller" filename="libgazebo_ros_openni_kinect.so">
        <cameraName>senz3d</cameraName>
        <alwaysOn>true</alwaysOn>
        <updateRate>20</updateRate>
        <imageTopicName>rgb/image_color</imageTopicName>
        <depthImageTopicName>depth/image_raw</depthImageTopicName>
        <pointCloudTopicName>depth/points</pointCloudTopicName>
        <cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName>
        <depthImageCameraInfoTopicName>depth/camera_info</depthImageCameraInfoTopicName>
        <frameName>senz3d_depth_optical_frame</frameName>
        <baseline>0.1</baseline>
        <distortion_k1>0.0</distortion_k1>
        <distortion_k2>0.0</distortion_k2>
        <distortion_k3>0.0</distortion_k3>
        <distortion_t1>0.0</distortion_t1>
        <distortion_t2>0.0</distortion_t2>
        <pointCloudCutoff>0.15</pointCloudCutoff>
      </plugin>
    </sensor>
  </gazebo>

  <xacro:macro name="Sharp_GP2Y0A21_IR_sensor" params="name">  
    <gazebo reference="${name}_link">
      <sensor type="ray" name="${name}">
        <always_on>true</always_on>
        <update_rate>20</update_rate>
        <visualize>true</visualize>
        <ray>
          <scan>
            <horizontal>
              <samples>50</samples>
              <resolution>1.0</resolution>
              <min_angle>-0.0436</min_angle>  <!-- -2.5 degree -->
              <max_angle>0.0436</max_angle> <!-- 2.5 degree -->
            </horizontal>
<!--            Can't use vertical rays until this bug is resolved: -->
<!--            https://bitbucket.org/osrf/gazebo/issue/509/vertical-sensor-doesnt-works -->
<!--            <vertical> -->
<!--              <samples>50</samples> -->
<!--              <resolution>1.0</resolution> -->
<!--              <min_angle>-0.0436</min_angle>  -2.5 degree -->
<!--              <max_angle>0.0436</max_angle> 2.5 degree -->
<!--            </vertical> -->
          </scan>
          <range>
            <min>0.01</min>
            <max>0.80</max>
            <resolution>1.0</resolution>
          </range>
        </ray>
      </sensor>
    </gazebo>
  </xacro:macro>

  <Sharp_GP2Y0A21_IR_sensor name="ir_l155"/>
  <Sharp_GP2Y0A21_IR_sensor name="ir_l180"/>
  <Sharp_GP2Y0A21_IR_sensor name="ir_r180"/>
  <Sharp_GP2Y0A21_IR_sensor name="ir_r155"/>

  <!-- Gazebo configuration for other structural parts -->
  <gazebo reference="senz3d_mount_link">
    <material>Gazebo/Black</material>
    <selfCollide>true</selfCollide>
    <gravity>true</gravity>
  </gazebo>

  <gazebo reference="opencm_joint_link">
    <material>Gazebo/Green</material>
    <selfCollide>true</selfCollide>
    <gravity>true</gravity>
  </gazebo>
</robot>