<?xml version="1.0"?>
<robot name="xtion_camera" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_gazebo.urdf.xacro"/>
  <!-- <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_properties.urdf.xacro"/> -->
  
  <!-- Xacro properties -->
  <xacro:property name="asus_xtion_pro_depth_rel_rgb_py" value="0.0270"/>
  <xacro:property name="asus_xtion_pro_cam_rel_rgb_py" value="-0.0220"/>

  <!-- 3D sensor macro -->
  <xacro:macro name="xtion_camera" params="parent name *origin">
    <joint name="${name}_rgb_joint" type="fixed">
      <insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${name}_rgb_frame"/>
    </joint>
    <link name="${name}_rgb_frame"/>

    <joint name="${name}_rgb_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}"/>
      <parent link="${name}_rgb_frame" />
      <child link="${name}_rgb_optical_frame"/>
    </joint>
    <link name="${name}_rgb_optical_frame"/>

    <joint name="${name}_joint" type="fixed">
      <origin xyz="0 ${asus_xtion_pro_cam_rel_rgb_py} 0" 
              rpy="0 0 0"/>
      <parent link="${name}_rgb_frame"/>
      <child link="${name}_link"/>
    </joint>
    <link name="${name}_link">
      <visual>
        <origin xyz="0.0 0.0035 0.0375" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://turtlebot_description/meshes/sensors/xtion_pro_camera.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="-0.018 0.0035 0.004" rpy="0 0 0"/>
        <geometry>
        <box size="0.04 0.185 0.03"/>
      </geometry>
      </collision>
      <inertial>
        <mass value="0.170" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.001152600" ixy="0.0" ixz="0.0"
                 iyy="0.000148934" iyz="0.0"
                 izz="0.001154654" />
      </inertial>
    </link>

    <joint name="${name}_depth_joint" type="fixed">
      <origin xyz="0 ${asus_xtion_pro_depth_rel_rgb_py} 0" rpy="0 0 0"/>
      <parent link="${name}_rgb_frame"/>
      <child link="${name}_depth_frame"/>
    </joint>
    <link name="${name}_depth_frame"/>

    <joint name="${name}_depth_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}"/>
      <parent link="${name}_depth_frame"/>
      <child link="${name}_depth_optical_frame"/>
    </joint>
    <link name="${name}_depth_optical_frame"/>

    <!-- RGBD sensor for simulation, same as Kinect
    <turtlebot_sim_3dsensor/> TODO  no vale... usa la pose dada x el fichero de calib -->


    <!-- Asus mount 
    <joint name="mount_asus_xtion_pro_joint" type="fixed">
      <origin xyz="-0.1024 0.0 0.272" rpy="0 0 0"/>
      <parent link="${parent}"/>
      <child link="mount_asus_xtion_pro_link"/>
    </joint>  
    <link name="mount_asus_xtion_pro_link">
      <visual>
        <origin xyz="0 0 0" rpy="${-M_PI/2} 0 0"/>
        <geometry>
          <mesh filename="package://turtlebot_description/meshes/sensors/xtion_pro_stack.dae"/>
        </geometry>
      </visual>  
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
        <box size="0.0330 0.2760 0.0120"/>
      </geometry>
      </collision>
      <inertial>
        <mass value="0.170" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.001152600" ixy="0.0" ixz="0.0"
                 iyy="0.000148934" iyz="0.0"
                 izz="0.001154654" />
      </inertial>
    </link>-->
  </xacro:macro>
</robot>
