<!--
 Interface to the Arduino board.

 To interface with thorp's Arduino Mega 2560 board, flash the firmware provided on Bosch drivers:

  $ roscd arduino_interface
  $ cd arduino_firmware
  $ export BOARD=mega2560
  $ export ARDUINO_DIR=/opt/arduino  # (or whatever you installed arduino software)
  $ make upload

 You must install the Arduino udev rule to make the board available on the default port "/dev/arduino":

  $ roscd thorp_boards
  $ sudo cp resources/58-arduino.rules /etc/udev/rules.d
 
 and then replug the USB cable.
-->
<launch>
  <node name="arduino_node" pkg="thorp_boards" type="arduino_node">
    <rosparam file="$(find thorp_boards)/param/arduino.yaml" command="load"/>
  </node>
</launch>
