<!--
 Interface to the OpenCM9.04 board.

 To interface with thorp's Robotis OpenCM9.04 board, flash the firmware provided on src/opencm/firmware
 directory, as explained in the README file.    

 You must install the OpenCM udev rule to make the board available on the default port "/dev/opencm":

  $ roscd thorp_boards
  $ sudo cp resources/59-opencm.rules /etc/udev/rules.d
 
 and then replug the USB cable.
-->
<launch>
  <arg name="simulation" default="false" />

  <node name="arbotix" pkg="arbotix_python" type="arbotix_driver" output="screen">
    <rosparam file="$(find thorp_boards)/param/opencm.yaml" command="load" />
    <param name="sim" value="$(arg simulation)"/>
  </node>

  <node name="arm_ir_ranger" pkg="thorp_boards" type="ir_ranger.py" output="screen">
    <param name="type" value="2Y0A21"/>
    <param name="name" value="arm_ir_ranger"/>
    <param name="frame" value="ir_arm_link"/>
  	<remap from="ir_range" to="/mobile_base/sensors/infrared/arm"/>
  </node>

  <!--  Fake gripper link joint state publisher  -->
  <node name="fake_joint_pub" pkg="turtlebot_arm_bringup" type="fake_joint_pub.py"/>
</launch>
