<launch>
  <include file="$(find thorp_bringup)/launch/includes/_state_publisher.launch"/>

  <include file="$(find thorp_bringup)/launch/includes/_arm.launch"/>

  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch"/>
  
  <node name="fake_joint_pub" pkg="thorp_bringup" type="fake_joint_pub.py"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find thorp_bringup)/rviz/view_model.rviz"/>

  <node name="calibrate_kinect_checkerboard" pkg="turtlebot_arm_kinect_calibration" type="calibrate_kinect_checkerboard" output="screen">
    <param name="fixed_frame" value="/base_link"/>
    <param name="camera_frame" value="/camera_link"/>
    <param name="target_frame" value="/calibration_pattern"/>
    <param name="tip_frame" value="/gripper_link"/>
    <param name="checkerboard_width" value="7"/>
    <param name="checkerboard_height" value="6"/>
    <param name="checkerboard_grid" value="0.027"/>
    <param name="gripper_tip_x" value="-0.002"/>
    <param name="gripper_tip_y" value="0.020"/>
    <param name="gripper_tip_z" value="-0.0185"/>
  </node>

  <node name="checkerboard_image_view" pkg="image_view" type="image_view">
    <param name="autosize" value="true"/>
    <remap from="image" to="/calibrate_kinect_checkerboard/calibration_pattern_out"/>
  </node>
</launch>
