<!--
  Make Thorp execute a specific SMACH application
    TODO 1: still not launching the whole robot; lacks navigation
    TODO 2: this is not fully generic, as keyboard_ctrl is obj manip specific; idea: make it issue generic commands and show "not apply" when the SM rejects it
 -->

<launch>
  <arg name="smach_app"/>
  <arg name="keyboard_ctrl" default="true"/>

  <arg name="external_camera" default="false"/>

  <!--  ********** 3D sensors (on/off-board) **********  -->

  <include if="$(arg external_camera)" file="$(find thorp_bringup)/launch/includes/xtion.launch.xml">
    <arg name="camera_name" value="external_camera"/>
  </include>

  <include unless="$(arg external_camera)" file="$(find thorp_bringup)/launch/includes/xtion.launch.xml"/>

  <!--  ************* Thorp bringup stuff *************  -->

  <include file="$(find thorp_bringup)/launch/includes/state_publisher.launch.xml"/>

  <include file="$(find thorp_bringup)/launch/includes/arm.launch.xml"/>

  <!-- Fake base's wheels joint state, as we are not running the full robot by now -->
  <node name="fake_wheels_joints_pub" pkg="thorp_bringup" type="fake_joint_pub.py"/>

  <node name="arbotix_gui" pkg="arbotix_python" type="arbotix_gui" output="screen"/>


  <!--  ************* Moveit config stuff *************  -->

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find thorp_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="false"/>
  </include>

  <!-- Run the main MoveIt executable to provide move groups -->
  <include file="$(find thorp_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>  
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
  </include>

  <!--  Fake global reference to make Moveit octomap happy  -->
  <node pkg="tf" type="static_transform_publisher" name="fake_global_reference"
        args="0.0 0.0 0.0 0.0 0.0 0.0 /map /base_footprint 100"/>

  <!--  ****** Thorp perception and manipulation ******  -->

  <node name="thorp_arm_ctrl_server" pkg="thorp_arm_ctrl"
        type="thorp_arm_ctrl_server" output="screen">
    <param name="arm_ctrl_ref_frame" value="arm_base_link"/>
    <param name="vertical_backlash" value="0.01"/>
  </node>
  
  <node name="scene_interaction_server" pkg="thorp_arm_ctrl"
        type="scene_interaction_server" output="screen">
  </node>

  <node name="object_detection_server" pkg="thorp_obj_rec"
        type="object_detection_server" output="screen">
    <param name="ork_execute_timeout" value="5.0"/>
  </node>
  
  <node name="object_information_server" pkg="object_recognition_ros"
        type="object_information_server" output="screen">
  </node>

  <!--  ****** Executive smach and visualization ******  -->

  <node name="$(arg smach_app)_smach" pkg="thorp_smach" type="$(arg smach_app).py" output="screen">
    <param name="rec_objects_frame" value="map"/>
  </node>

  <node name="$(arg smach_app)_smach_viewer" pkg="smach_viewer" type="smach_viewer.py" output="screen"/>

  <!--  ******* Keyboard interaction with smach *******  -->
  <!-- We do it required so it will shutdown the whole demo on exit -->
  <node if="$(arg keyboard_ctrl)" name="$(arg smach_app)_key_ctrl" pkg="thorp_smach" type="keyboard_ctrl.py" output="screen" required="true">
    <param name="window_geometry" value="360x240"/>
    <param name="window_caption" value="Object manipulation user commands"/>
    <param name="shown_text" value="Available commands: &#10;  s:  start &#10;  x:  stop &#10;  r:  reset &#10;  f:  fold &#10;  e:  exit"/>
    <param name="text_font" value="Comic Sans MS"/>
    <param name="font_size" value="12"/>
  </node>
  
  
  <!--  **************** ORK pipeline *****************  -->

  <include if="$(arg external_camera)" file="$(find thorp_obj_rec)/launch/includes/obj_rec.launch.xml" ns="tabletop">
    <arg name="as_server"    value="true"/>
    <arg name="config_file"  value="$(find thorp_obj_rec)/config/ork/external.tabletop.detection.ros.ork"/>
    <arg name="robot_frame"  value="base_footprint"/>
    <arg name="sensor_frame" value="external_camera_depth_optical_frame"/>
  </include>

  <include unless="$(arg external_camera)" file="$(find thorp_obj_rec)/launch/includes/obj_rec.launch.xml" ns="tabletop">
    <arg name="as_server"    value="true"/>
    <arg name="config_file"  value="$(find thorp_obj_rec)/config/ork/tabletop.detection.ros.ork"/>
    <arg name="robot_frame"  value="base_footprint"/>
    <arg name="sensor_frame" value="xtion_depth_optical_frame"/>
  </include>


  <!-- Run Rviz and load the default config to see the state of the move_group node and the scene interaction markers -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find thorp_bringup)/rviz/view_manip.rviz"/>

</launch>
