<launch>
  <!-- By default, we are in simulation and not in debug mode -->
  <arg name="debug" default="false"/>
  <arg name="simulation" default="true"/>

  <!--  ************* Thorp bringup stuff *************  -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find thorp_bringup)/urdf/thorp.urdf.xacro'"/>

  <include file="$(find thorp_bringup)/launch/includes/_arm.launch">
    <arg name="simulation" value="$(arg simulation)"/>
  </include>

  <include file="$(find thorp_bringup)/launch/includes/_softkinetic.launch"/>
  
  <node name="robot_state_pub" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Fake base's wheels joint state, as we are not running the full robot by now -->
  <node name="fake_joint_pub" pkg="thorp_bringup" type="fake_joint_pub.py"/>

  <node name="arbotix_gui" pkg="arbotix_python" type="arbotix_gui" output="screen"/>
  
  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot_arm_moveit_config)/launch/moveit.rviz"/>


  <!--  ******* Fake localization and odometry ********  -->
  <node pkg="tf" type="static_transform_publisher" name="fake_localization"
        args="0.0 0.0 0.0 0.0 0.0 0.0 /map /odom 200"/>
  <node pkg="tf" type="static_transform_publisher" name="fake_odometry"
        args="0.0 0.0 0.0 0.0 0.0 0.0 /odom /base_footprint 200"/>


  <!--  ************* Moveit config stuff *************  -->

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find turtlebot_arm_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="false"/>
  </include>

  <!-- We do not have a robot connected, so publish fake joint states   TODO  maybe recover from fake_joint_pub.py
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/> 
    <rosparam param="/source_list">[/move_group/fake_controller_joint_states]</rosparam>
  </node>-->

  <!-- Run the main MoveIt executable; we don't use fake execution even on simulation, as the
       arbotix controllers are already operating on simulation and so only move the robot model -->
  <include file="$(find turtlebot_arm_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>  
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>
</launch>
