<!--
  Thorp local navigation just with sonars and bumpers:
  - turtlebot
  - move_base
  - arduino interface
  - safety controller
  - fake localization
 -->

<launch>

  <!--  ****************** Turtlebot ******************  -->
  <include file="$(find turtlebot_bringup)/launch/minimal.launch">
    <arg name="battery" value="/sys/class/power_supply/BAT1" />
  </include>

  <!--  *********** Thorp specific hardware ***********  -->
  <include file="$(find thorp_boards)/launch/arduino.launch"/>

  <!--  ********** Kobuki mobile base extras **********  -->
  <include file="$(find thorp_bringup)/launch/includes/_safety_ctrl.launch"/>
  <param name="cmd_vel_mux/yaml_cfg_file" value="$(find thorp_bringup)/param/vel_multiplexer.yaml"/>

  <!--  ************** Rosnav move base ***************  -->
  <include file="$(find thorp_bringup)/launch/includes/_move_base.launch"/>
  
  <!--
    Tweaks to adapt the move base node to local navigation just with sonars and bumpers:
     - global costmap is also a rolling window, non-static map
     - so it's referenced to odom, as the local costmap
     - and it must be updated, dislike a static map
     - we use a bigger costmap than that of the local planner
     - replan every second, as global costmap changes
  -->
  <rosparam file="$(find thorp_bringup)/param/move_base/global_cm_sonar_params.yaml" command="load"/>
  <param name="move_base/global_costmap/obstacle_layer/observation_sources" value="sonars bumpers"/>
  <param name="move_base/local_costmap/obstacle_layer/observation_sources" value="sonars bumpers"/>
  <param name="move_base/planner_frequency" value="1.0"/>

  <!--  ************** Fake Localization *************  -->
  <node pkg="tf" type="static_transform_publisher" name="fake_localization"
        args="0.0 0.0 0.0 0.0 0.0 0.0 /map /odom 10"/>
</launch>
