<!--
  Thorp local navigation just with sonars and bumpers:
  - Thorp robot
  - move_base
  - fake localization
 -->

<launch>
  <!--  *********** Thorp robot standalone ************  -->
  <include file="$(find thorp_bringup)/launch/thorp_robot.launch"/>

  <!--  ** Turtlebot 2 move base with custom tweaks ***  -->
  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml">
    <arg name="custom_param_file" value="$(find thorp_bringup)/param/custom_move_base.yaml"/>
  </include>

  <!--
    Tweaks to adapt the move base node to local navigation just with sonars and bumpers:
     - global costmap is also a rolling window, non-static map
     - so it's referenced to odom, as the local costmap
     - and it must be updated, dislike a static map
     - we use a bigger costmap than that of the local planner
     - replan every second, as global costmap changes
  -->
  <rosparam file="$(find thorp_bringup)/param/global_dynamic_costmap.yaml" command="load"/>
  <param name="move_base/global_costmap/obstacle_layer/observation_sources" value="bump"/>
  <param name="move_base/local_costmap/obstacle_layer/observation_sources" value="bump"/>
  <param name="move_base/planner_frequency" value="1.0"/>

  <!--  ************** Fake Localization *************  -->
  <node pkg="tf" type="static_transform_publisher" name="fake_localization" output="screen" respawn="true"
        args="0.0 0.0 0.0 0.0 0.0 0.0 /map /odom 200"/>
</launch>
