<!--
  Thorp local navigation just with sonars and bumpers:
  - turtlebot
  - move_base
  - arduino interface
  - safety controller
  - fake localization
 -->

<launch>
  <!--  ****************** Turtlebot ******************  -->
  <include file="$(find turtlebot_bringup)/launch/minimal.launch">
    <arg name="battery" value="/sys/class/power_supply/BAT1"/>
  </include>

  <!-- Overwrite default Turtlebot 2 description with Thorp's one -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find thorp_bringup)/urdf/thorp.urdf.xacro' simulation:=false"/>
  <!--  Also increase the publishing frequency so the arm doesn't jump when moving -->
  <param name="robot_state_publisher/publish_frequency" value="20.0"/>

  <!--  *********** Thorp specific hardware ***********  -->
  <include file="$(find thorp_boards)/launch/arduino.launch"/>
  <include file="$(find thorp_boards)/launch/opencm.launch">
    <arg name="simulation" value="true"/> <!-- just to provide arm's joint states -->
  </include>

  <!-- Reconfigure command velocity multiplexer to fit thorp_bringup needs -->
  <param name="cmd_vel_mux/yaml_cfg_file" value="$(find thorp_bringup)/param/vel_multiplexer.yaml"/>
 
  <!--  ** Turtlebot 2 move base with custom tweaks ***  -->
  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml">
    <arg name="custom_param_file" value="$(find thorp_bringup)/param/custom_move_base.yaml"/>
  </include>
  
  <!--
    Tweaks to adapt the move base node to local navigation just with sonars and bumpers:
     - global costmap is also a rolling window, non-static map
     - so it's referenced to odom, as the local costmap
     - and it must be updated, dislike a static map
     - we use a bigger costmap than that of the local planner
     - replan every second, as global costmap changes
  -->
  <rosparam file="$(find thorp_bringup)/param/global_dynamic_costmap.yaml" command="load"/>
  <param name="move_base/global_costmap/obstacle_layer/observation_sources" value="bump"/>
  <param name="move_base/local_costmap/obstacle_layer/observation_sources" value="bump"/>
  <param name="move_base/planner_frequency" value="1.0"/>

  <!--  ************** Fake Localization *************  -->
  <node pkg="tf" type="static_transform_publisher" name="fake_localization"
        args="0.0 0.0 0.0 0.0 0.0 0.0 /map /odom 200"/>
</launch>
