<launch>
  <arg name="simulation" default="false"/>

  <include file="$(find thorp_bringup)/launch/includes/state_publisher.launch.xml">
    <arg name="simulation" value="$(arg simulation)"/>
  </include>

  <!-- Fake base's wheels joint state, as here we are not running the full robot -->
  <node pkg="thorp_bringup" type="fake_joint_pub.py" name="fake_wheels_joints_pub" output="screen" respawn="true"/>

  <include file="$(find thorp_manipulation)/launch/includes/arm.launch.xml">
    <arg name="simulation" value="$(arg simulation)"/>
  </include>

  <include file="$(find thorp_bringup)/launch/includes/xtion.launch.xml"/>

  <node pkg="arbotix_python" type="arbotix_gui" name="arbotix_gui" output="screen" respawn="true"/>
  
  <node pkg="rviz" type="rviz" name="rviz" output="screen" respawn="true"
        args="-d $(find thorp_bringup)/rviz/view_model.rviz"/>
</launch>
