<launch>
  <arg name="simulation" default="false"/>

  <include file="$(find thorp_bringup)/launch/includes/_state_publisher.launch">
    <arg name="simulation" value="$(arg simulation)"/>
  </include>

  <include file="$(find thorp_bringup)/launch/includes/_arm.launch">
    <arg name="simulation" value="$(arg simulation)"/>
  </include>

  <include file="$(find thorp_bringup)/launch/includes/_softkinetic.launch"/>

  <node name="fake_joint_pub" pkg="thorp_bringup" type="fake_joint_pub.py"/>

  <node name="arbotix_gui" pkg="arbotix_python" type="arbotix_gui" output="screen"/>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find thorp_bringup)/rviz/view_model.rviz"/>
</launch>
