<!--
  Thorp robot standalone:
  - turtlebot
  - additional sensors
  - arduino interface
  - opencm interface
  - arm controllers
  - cannon controller
  - safety controller
  - auto-docking
 -->

<launch>
  <!--  ********* Turtlebot with Kinect camera ********  -->
  <include file="$(find turtlebot_bringup)/launch/minimal.launch">
    <arg name="base"      value="kobuki"/>
    <arg name="stacks"    value="hexagons"/>
    <arg name="3d_sensor" value="kinect"/>
    <arg name="battery"   value="/sys/class/power_supply/BAT1"/>
  </include>
  <include file="$(find thorp_bringup)/launch/includes/kinect.launch.xml"/>

  <!-- Overwrite default Turtlebot 2 description with Thorp's one -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find thorp_description)/urdf/thorp.urdf.xacro' simulation:=false"/>
  <!--  Also increase the publishing frequency so the arm doesn't jump when moving -->
  <param name="robot_state_publisher/publish_frequency" value="20.0"/>

  <!--  *********** Thorp specific hardware ***********  -->
  <include file="$(find thorp_cannon)/launch/cannon.launch"/>
  <include file="$(find thorp_boards)/launch/opencm.launch"/>
  <include file="$(find thorp_boards)/launch/arduino.launch"/>
  <include file="$(find thorp_bringup)/launch/includes/xtion.launch.xml"/>
  <include file="$(find thorp_manipulation)/launch/includes/arm.launch.xml"/>

  <!--  *************** Virtual sensors ***************  -->
  <include file="$(find thorp_bringup)/launch/includes/virt_sensor.launch.xml"/>

  <!-- Reconfigure command velocity multiplexer to fit Thorp's' needs -->
  <node pkg="rosservice" type="rosservice" name="reconfig_vel_mux" args="call --wait /cmd_vel_mux/set_parameters
            '{config:{strs:[[yaml_cfg_file,$(find thorp_bringup)/param/vel_multiplexer.yaml]]}}'"/>

  <!--  ******** Kobuki auto-docking controller *******  -->
  <include file="$(find thorp_bringup)/launch/includes/autodock.launch.xml"/>
</launch>
