<!--
  Thorp global navigation visualization:
  - rviz view
  - dashboard
 -->

<launch>
  <!--  ***************** Visualisation *****************  -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find thorp_bringup)/rviz/view_navigation.rviz"/>
  <include file="$(find turtlebot_dashboard)/launch/turtlebot_dashboard.launch"/>
</launch>
