<!--
  Thorp global navigation:
  - turtlebot
  - 3d sensor
  - arduino interface
  - virtual sensor
  - safety controller
  - auto-docking
  - move_base
  - geometric map
  - semantic map???
  - amcl localization
  - rviz view (optional)
 -->

<launch>
  <!-- Name of the map to use (without path nor extension) and initial position -->
  <arg name="map_name"       default="graz_home"/>
  <arg name="initial_pose_x" value="0.0"/>
  <arg name="initial_pose_y" value="0.0"/>
  <arg name="initial_pose_a" value="0.0"/>

  <!--  *********** Turtlebot and 3d sensor ***********  -->
  <include file="$(find turtlebot_bringup)/launch/minimal.launch">
    <arg name="base"      value="kobuki"/>
    <arg name="stacks"    value="hexagons"/>
    <arg name="3d_sensor" value="kinect"/>
    <arg name="battery"   value="/sys/class/power_supply/BAT1"/>
  </include>
  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
    <arg name="camera"                          value="camera"/>
    <!-- We only need RGB images and pseudo laser scan -->
    <arg name="depth_registration"              value="false"/>
    <arg name="rgb_processing"                  value="true" />
    <arg name="ir_processing"                   value="false"/>
    <arg name="depth_processing"                value="false"/>
    <arg name="depth_registered_processing"     value="false"/>
    <arg name="disparity_processing"            value="false"/>
    <arg name="disparity_registered_processing" value="false"/>
    <arg name="scan_processing"                 value="true" />
  </include>

  <!-- Overwrite default Turtlebot 2 description with Thorp's one -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find thorp_bringup)/urdf/thorp.urdf.xacro' simulation:=false"/>
  <!--  Also increase the publishing frequency so the arm doesn't jump when moving -->
  <param name="robot_state_publisher/publish_frequency" value="20.0"/>

  <!--  ************** Additional sensors *************  -->
  <include file="$(find thorp_bringup)/launch/includes/virt_sensor.launch.xml"/>

  <!--  *********** Thorp specific hardware ***********  -->
  <include file="$(find thorp_boards)/launch/arduino.launch"/>
  <include file="$(find thorp_boards)/launch/opencm.launch">
    <arg name="simulation" value="true"/> <!-- just to provide arm's joint states -->
  </include>

  <!--  ***** Kobuki mobile base safety controller ****  -->
  <include file="$(find thorp_bringup)/launch/includes/safety_ctrl.launch.xml"/>

  <!-- Reconfigure command velocity multiplexer to fit thorp_bringup needs. Just set the parameter doesn't work
       if we start the thorp_bringup rapp with app manager; we must explicitly call the reconfigure service -->
  <node pkg="rosservice" type="rosservice" name="reconfig_vel_mux" args="call --wait /cmd_vel_mux/set_parameters
            '{config:{strs:[[yaml_cfg_file,$(find thorp_bringup)/param/vel_multiplexer.yaml]]}}'"/>

  <!--  ******** Kobuki auto-docking controller *******  -->
  <include file="$(find thorp_bringup)/launch/includes/autodock.launch.xml"/>

  <!--  ************** Rosnav move base ***************  -->
  <include file="$(find thorp_bringup)/launch/includes/move_base.launch.xml"/>

  <!--  ****** Geometric and semantic map servers *****  -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find thorp_bringup)/resources/maps/$(arg map_name).yaml">
    <param name="frame_id" value="/map"/>
  </node>

  <!--  ******************** Amcl *********************  -->
  <include file="$(find thorp_bringup)/launch/includes/amcl.launch.xml">
    <arg name="scan_topic" value="scan"/>
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>
</launch>
