<!--
  Standalone launcher used for visualizing Thorp model
 -->

<launch>
  <include file="$(find thorp_bringup)/launch/includes/_state_publisher.launch">
    <arg name="simulation" value="true"/>
  </include>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find thorp_bringup)/rviz/view_model.rviz"/>
</launch>
