<?xml version="1.0"?>
<model>
  <name>doll_table</name>
  <version>0.1.0</version>
  <author>
   <name>Jorge Santos</name>
   <email>jsantossimon@gmail.com</email>
  </author>
  <sdf version="1.4">model.sdf</sdf>
  <description>
    A small wood table, similar to Ikea's Lack table
  </description>
</model>
