<!--
Cat hunter app:
  - Thorp Stage simulation
  - IPA coverage planning
  - Executive SMACH and visualization

Explore the entire environment searching for cats, and attack them whenever found.
 -->

<launch>
  <arg name="app_name" value="cat_hunter"/>

  <!--  ***** Simulated mobile manipulator Thorp ******  -->

  <include file="$(find thorp_simulation)/launch/thorp_gazebo.launch">
    <arg name="world_name"     value="cat_house"/>
    <arg name="initial_pose_x" value="8.0"/>
    <arg name="initial_pose_y" value="4.0"/>
    <arg name="initial_pose_a" value="0.0"/>
  </include>


  <!--  ***** Object recognition using the Kinect *****  -->

  <include file="$(find thorp_bringup)/launch/includes/perception.launch.xml">
    <arg name="pipeline" value="COB"/>
    <arg name="target_objects" value="[cat, dog, horse]"/>
  </include>


  <!--  ****************** Utilities ******************  -->

  <node name="model_markers" pkg="thorp_simulation" type="model_markers.py" output="screen" respawn="true"
        args="cat_orange cat_black"/>


  <!--  ************ IPA coverage planning ************  -->
  <include file="$(find thorp_bringup)/launch/includes/exploration.launch.xml"/>


  <!--  ****** Executive smach and visualization ******

  <node pkg="thorp_smach" type="$(arg app_name).py" name="$(arg app_name)_smach" output="screen" respawn="true"/> -->

  <node pkg="smach_viewer" type="smach_viewer.py" name="$(arg app_name)_smach_viewer" output="screen" respawn="true"/>


  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find thorp_bringup)/rviz/hunting.rviz" output="screen" respawn="true"/>
</launch>
