<!--
Explore house app:
  - Thorp Stage simulation
  - IPA coverage planning
  - Executive SMACH and visualization

First segment map into rooms and plan visit sequence; then we iterate
over all rooms and explore them following the planned sequence.
 -->

<launch>
  <arg name="app_name" value="explore_house"/>

  <!--  ***** Simulated mobile manipulator Thorp ******  -->
  <include file="$(find thorp_simulation)/launch/thorp_stage.launch">
    <arg name="world_name"     default="cat_house"/>
    <arg name="initial_pose_x" default="8.0"/>
    <arg name="initial_pose_y" default="4.0"/>
    <arg name="initial_pose_a" default="0.0"/>
  </include>

  <!--  ************ IPA coverage planning ************  -->
  <include file="$(find thorp_bringup)/launch/includes/exploration.launch.xml"/>

  <!--  ****** Executive smach and visualization ******  -->
  <node pkg="thorp_smach" type="$(arg app_name).py" name="$(arg app_name)_smach" output="screen" respawn="true"/>

  <node pkg="smach_viewer" type="smach_viewer.py" name="$(arg app_name)_smach_viewer" output="screen" respawn="true"/>
</launch>
