<!--
Simulated version of Thorp's explore house app:
  - Thorp Stage simulation
  - IPA coverage planning

First segment map into rooms and plan visit sequence; then we iterate
over all rooms and explore them following the planned sequence.
 -->

<launch>
  <arg name="app_name" value="explore_house"/>
  <arg name="viz_smach" default="false"/>
  <arg name="start_delay" default="0.0"/>
  <arg name="record_video" default="false"/>

  <!--  ***** Simulated mobile manipulator Thorp ******  -->
  <include file="$(find thorp_simulation)/launch/thorp_stage.launch">
    <arg name="visualization"  value="false"/>
    <arg name="world_name"     value="fun_house"/>
    <arg name="initial_pose_x" value="8.5"/>
    <arg name="initial_pose_y" value="6.0"/>
    <arg name="initial_pose_a" value="0.0"/>
  </include>

  <!--  ****** IPA coverage planning using kinect *****  -->
  <include file="$(find thorp_bringup)/launch/includes/exploration.launch.xml">
    <arg name="camera" value="kinect"/>
  </include>


  <!--  ******* Components common for all apps ********  -->

  <include file="$(find thorp_simulation)/launch/includes/apps_common.launch.xml">
    <arg name="app_name" value="$(arg app_name)"/>
    <arg name="viz_smach" value="$(arg viz_smach)"/>
    <arg name="start_delay" value="$(arg start_delay)"/>
    <arg name="record_video" value="$(arg record_video)"/>
  </include>

  <node name="rviz" pkg="rviz" type="rviz" output="screen" respawn="true"
        args="-d $(find thorp_bringup)/rviz/exploration.rviz"/>
</launch>
