<?xml version="1.0"?>
<robot name="kinect_camera" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_properties.urdf.xacro"/>
  
  <xacro:property name="kinect_cam_py" value="-0.0125"/>

  <!-- 3D sensor macro -->
  <!-- Parameterised in part by the values in turtlebot_properties.urdf.xacro, so don't require origin -->
  <xacro:macro name="kinect_camera" params="parent name">
    <joint name="${name}_rgb_joint" type="fixed">
      <origin xyz="${cam_px} ${kinect_cam_py} ${cam_pz}" rpy="${cam_or} ${cam_op} ${cam_oy}"/>
      <parent link="${parent}"/>
      <child link="${name}_rgb_frame" />
    </joint>
    <link name="${name}_rgb_frame"/>

    <joint name="${name}_rgb_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
      <parent link="${name}_rgb_frame" />
      <child link="${name}_rgb_optical_frame" />
    </joint>
    <link name="${name}_rgb_optical_frame"/>

    <joint name="${name}_joint" type="fixed">
      <origin xyz="-0.031 ${-kinect_cam_py} -0.016" rpy="0 0 0"/>
      <parent link="${name}_rgb_frame"/>
      <child link="${name}_link"/>
    </joint>  
      <link name="${name}_link">
      <visual>
       <origin xyz="0 0 0" rpy="0 0 ${M_PI/2}"/>
        <geometry>
         <mesh filename="package://turtlebot_description/meshes/sensors/kinect.dae"/>
        </geometry>
      </visual>
  	  <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  	    <geometry>
  	      <box size="0.07271 0.27794 0.073"/>
  	    </geometry>
  	  </collision>
      <inertial>
        <mass value="0.564" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.003881243" ixy="0.0" ixz="0.0"
                 iyy="0.000498940" iyz="0.0"
                 izz="0.003879257" />
      </inertial>
    </link>

    <!-- The fixed joints & links below are usually published by static_transformers launched by the OpenNi launch 
         files. However, for Gazebo simulation we need them, so we add them here.
         (Hence, don't publish them additionally!) -->
	<joint name="${name}_depth_joint" type="fixed">
	  <origin xyz="0 ${2 * -kinect_cam_py} 0" rpy="0 0 0" />
	  <parent link="${name}_rgb_frame" />
	  <child link="${name}_depth_frame" />
	</joint>
	<link name="${name}_depth_frame"/>

	<joint name="${name}_depth_optical_joint" type="fixed">
	  <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
	  <parent link="${name}_depth_frame" />
	  <child link="${name}_depth_optical_frame" />
	</joint>
	<link name="${name}_depth_optical_frame"/>
	
    <!-- RGBD sensor for simulation -->
    <thorp_sim_3dsensor name="${name}" depth_registration="false"/>
  </xacro:macro>
</robot>
