<?xml version="1.0"?>

<robot name="turtlebot_arm" xmlns:xacro="http://ros.org/wiki/xacro"
    xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
    xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
    xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

    <!-- Included URDF Files -->
    <xacro:include filename="$(find turtlebot_arm_description)/urdf/turtlebot_arm.xacro" />

      <!-- Used for fixing robot to Gazebo 'base_link' -->
  <link name="world"/>

  <joint name="fixed" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
  </joint>
    <!-- As we don't have here a turtlebot, add a base_link link as its location reference -->
    <link name="base_link"/>

    <!-- Turtlebot arm macro: we can configure joints velocity limit and lower/upper limits
         for the first joint (arm_shoulder_pan) to allow accessing to different operational 
         areas, e.g. left handed vs. right handed robot -->
    <xacro:property name="joints_vlimit" value="0.3571"/>
    <xacro:property name="pan_llimit" value="-2.617"/>
    <xacro:property name="pan_ulimit" value=" 2.617"/>
    <xacro:property name="shoulder_llimit" value="-2.617"/>
    <xacro:property name="shoulder_ulimit" value=" 2.617"/>
    <xacro:property name="elbow_llimit" value="-2.617"/>
    <xacro:property name="elbow_ulimit" value=" 2.617"/>
    <xacro:property name="wrist_llimit" value="-1.745"/>
    <xacro:property name="wrist_ulimit" value=" 1.745"/>

    <xacro:turtlebot_arm parent="base_link" color="white" gripper_color="Green"
                   pincher_gripper="false" turtlebot_gripper="true">
      <!-- Place the "floating" arm at the location it should be if mounted on a turtlebot,
           as pick and place and other demos assume this location -->
      <origin xyz="0.1 0.03 0.435"/>
    </xacro:turtlebot_arm>


  <!-- Gazebo configuration for arm and cannon servos control -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>false</legacyModeNS>
    </plugin>
  </gazebo>

  <xacro:macro name="servo_transmission" params="name">
    <transmission name="${name}_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${name}_joint">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="${name}_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  <xacro:servo_transmission name="arm_shoulder_pan"/>
  <xacro:servo_transmission name="arm_shoulder_lift"/>
  <xacro:servo_transmission name="arm_elbow_flex"/>
  <xacro:servo_transmission name="arm_wrist_flex"/>
  <xacro:servo_transmission name="gripper"/>
</robot>
