<?xml version="1.0"?>
<robot name="thorp_gazebo" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Simulated Microsoft Kinect / ASUS Xtion PRO Live macros; included on their respective xacro files -->
  <xacro:macro name="thorp_sim_3dsensor" params="name depth_registration">  
    <gazebo reference="${name}_link">
      <sensor type="depth" name="${name}">
        <always_on>true</always_on>
        <update_rate>10.0</update_rate>
        <camera>
          <horizontal_fov>${60.0*M_PI/180.0}</horizontal_fov>
          <image>
            <format>R8G8B8</format>
            <width>640</width>
            <height>480</height>
          </image>
          <clip>
            <near>0.05</near>
            <far>8.0</far>
          </clip>
        </camera>
        <plugin name="depth_camera_controller" filename="libgazebo_ros_depth_camera.so">
          <cameraName>${name}</cameraName>
          <alwaysOn>true</alwaysOn>
          <updateRate>0.0</updateRate>
          <imageTopicName>rgb/image_raw</imageTopicName>
          <cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName>
          <xacro:if value="${depth_registration}">  <!-- Normally for manipulation camera (Xtion) -->
            <depthImageTopicName>depth_registered/image_raw</depthImageTopicName>
            <pointCloudTopicName>depth_registered/points</pointCloudTopicName>
            <depthImageCameraInfoTopicName>depth_registered/camera_info</depthImageCameraInfoTopicName>
          </xacro:if>
          <xacro:unless value="${depth_registration}">  <!-- Normally for navigation camera (Kinect) -->
            <depthImageTopicName>depth/image_raw</depthImageTopicName>
            <pointCloudTopicName>depth/points</pointCloudTopicName>
            <depthImageCameraInfoTopicName>depth/camera_info</depthImageCameraInfoTopicName>
          </xacro:unless>
          <frameName>${name}_rgb_optical_frame</frameName>  <!-- TODO confirm -->
          <baseline>0.1</baseline>
          <distortion_k1>0.0</distortion_k1>
          <distortion_k2>0.0</distortion_k2>
          <distortion_k3>0.0</distortion_k3>
          <distortion_t1>0.0</distortion_t1>
          <distortion_t2>0.0</distortion_t2>
          <pointCloudCutoff>0.45</pointCloudCutoff>
          <pointCloudCutoffMax>6.0</pointCloudCutoffMax>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>

  <!-- Simulated Creative Senz3d camera  DISABLE by now as Gazebo2 cannot handle 3 instances of this plugin!  TODO: retry with Gazebo5
  <gazebo reference="senz3d_link">  
    <sensor type="depth" name="senz3d">
      <always_on>true</always_on>
      <update_rate>10.0</update_rate>
      <camera>
        <horizontal_fov>${74.0*M_PI/180.0}</horizontal_fov>
        <image>
          <format>B8G8R8</format>
          <width>320</width>
          <height>240</height>
        </image>
        <clip>
          <near>0.05</near>
          <far>1.5</far>
        </clip>
      </camera>
      <plugin name="depth_camera_controller" filename="libgazebo_ros_depth_camera.so">
        <cameraName>senz3d</cameraName>
        <alwaysOn>true</alwaysOn>
        <updateRate>0</updateRate>
        <imageTopicName>rgb/image_color</imageTopicName>
        <depthImageTopicName>depth/image_raw</depthImageTopicName>
        <pointCloudTopicName>depth/points</pointCloudTopicName>
        <cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName>
        <depthImageCameraInfoTopicName>depth/camera_info</depthImageCameraInfoTopicName>
        <frameName>senz3d_gazebo_optical_frame</frameName>
        <baseline>0.1</baseline>
        <distortion_k1>0.0</distortion_k1>
        <distortion_k2>0.0</distortion_k2>
        <distortion_k3>0.0</distortion_k3>
        <distortion_t1>0.0</distortion_t1>
        <distortion_t2>0.0</distortion_t2>
        <pointCloudCutoff>0.10</pointCloudCutoff>
        <pointCloudCutoffMax>1.0</pointCloudCutoffMax>
      </plugin>
    </sensor>

    <selfCollide>true</selfCollide>
    <gravity>true</gravity>
  </gazebo>   DISABLED -->

  <!-- LV-MaxSonar-EZ2 ultrasound sensors
       Use Hector sonar plugin to emulate the wide fov of the EZ2
       Specifications are fov: 0.6 rad and max. range: 6 m, but we clipped that radically in the real robot to
       0.3 and 0.8 respectively to avoid polluting the costmaps, while still providing safety against collisions
   -->
  <xacro:macro name="LV_MaxSonar_EZ2_sim" params="name">  
    <gazebo reference="s_${name}_link">
      <sensor type="ray" name="s_${name}">
        <always_on>true</always_on>
        <update_rate>20</update_rate>
        <visualize>false</visualize>
        <ray>
          <scan>
            <horizontal>
              <samples>7</samples>
              <resolution>1</resolution>
              <min_angle>-0.15</min_angle>
              <max_angle>+0.15</max_angle>
            </horizontal>
            <vertical>
              <samples>7</samples>
              <resolution>1</resolution>
              <min_angle>-0.10</min_angle>  <!-- almost parallel to the ground to avoid detecting it -->
              <max_angle>+0.20</max_angle>  <!-- TODO: I need to point upward to keep the fov in the range msgs! would be better to set the ground as not reflective, somehow -->
            </vertical>
          </scan>
          <range>
            <min>0.1</min>
            <max>0.8</max>
            <resolution>0.01</resolution>
          </range>
        </ray>
        <plugin name="gazebo_ros_s_${name}_controller" filename="libhector_gazebo_ros_sonar.so">
          <updateRate>20</updateRate>
          <gaussianNoise>0.05</gaussianNoise>
          <topicName>mobile_base/sensors/sonars/${name}</topicName>
          <frameId>s_${name}_link</frameId>
        </plugin>
      </sensor>

      <selfCollide>true</selfCollide>
      <gravity>true</gravity>
    </gazebo>
  </xacro:macro>

  <xacro:LV_MaxSonar_EZ2_sim name="m90"/>
  <xacro:LV_MaxSonar_EZ2_sim name="m72"/>
  <xacro:LV_MaxSonar_EZ2_sim name="m54"/>
  <xacro:LV_MaxSonar_EZ2_sim name="m36"/>
  <xacro:LV_MaxSonar_EZ2_sim name="m18"/>
  <xacro:LV_MaxSonar_EZ2_sim name="0"/>
  <xacro:LV_MaxSonar_EZ2_sim name="p18"/>
  <xacro:LV_MaxSonar_EZ2_sim name="p36"/>
  <xacro:LV_MaxSonar_EZ2_sim name="p54"/>
  <xacro:LV_MaxSonar_EZ2_sim name="p72"/>
  <xacro:LV_MaxSonar_EZ2_sim name="p90"/>

  <!-- Sharp GP2Y0A21 IR sensors
       Its fov is narrow enough (0.08 rad) to be simulated with a single beam sensor
   -->
  <xacro:macro name="Sharp_GP2Y0A21_IR_sim" params="name">  
    <gazebo reference="ir_${name}_link">
      <sensor type="ray" name="ir_${name}">
        <always_on>true</always_on>
        <update_rate>20</update_rate>
        <visualize>false</visualize>
        <ray>
          <range>
            <min>0.01</min>
            <max>0.90</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev>
          </noise>
        </ray>
        <plugin name="gazebo_ros_ir_${name}_controller" filename="libgazebo_ros_range.so">
          <updateRate>20</updateRate>
          <gaussianNoise>0.01</gaussianNoise>
          <topicName>mobile_base/sensors/infrared/${name}</topicName>
          <frameName>ir_${name}_link</frameName>
          <radiation>infrared</radiation>
          <fov>0.08</fov>
        </plugin>
      </sensor>

      <selfCollide>true</selfCollide>
      <gravity>true</gravity>
    </gazebo>
  </xacro:macro>

  <xacro:Sharp_GP2Y0A21_IR_sim name="arm"/>
  <xacro:Sharp_GP2Y0A21_IR_sim name="l155"/>
  <xacro:Sharp_GP2Y0A21_IR_sim name="l180"/>
  <xacro:Sharp_GP2Y0A21_IR_sim name="r180"/>
  <xacro:Sharp_GP2Y0A21_IR_sim name="r155"/>

  <!-- Gazebo configuration for faking grasping -->
  <gazebo>
    <plugin name="gazebo_grasp_fix" filename="libgazebo_grasp_fix.so">
      <arm>
        <arm_name>arm</arm_name>
        <palm_link>arm_wrist_flex_link</palm_link>
        <gripper_link>gripper_static_link</gripper_link>
        <gripper_link>gripper_active_link</gripper_link>
      </arm>
      <forces_angle_tolerance>100</forces_angle_tolerance>
      <update_rate>40</update_rate>
      <grip_count_threshold>1</grip_count_threshold>
      <max_grip_count>4</max_grip_count>
      <release_tolerance>0.005</release_tolerance>
      <disable_collisions_on_attach>true</disable_collisions_on_attach>
      <contact_topic>__default_topic__</contact_topic>
    </plugin>
  </gazebo>

  <!-- Gazebo configuration for arm and cannon servos control -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>false</legacyModeNS>
    </plugin>
  </gazebo>

  <xacro:macro name="servo_transmission" params="name">
    <transmission name="${name}_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${name}_joint">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${name}_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  <xacro:servo_transmission name="arm_shoulder_pan"/>
  <xacro:servo_transmission name="arm_shoulder_lift"/>
  <xacro:servo_transmission name="arm_elbow_flex"/>
  <xacro:servo_transmission name="arm_wrist_flex"/>
  <xacro:servo_transmission name="gripper"/>
  <xacro:servo_transmission name="cannon"/>

  <!-- Gazebo configuration for the cannon plugin, used to simulate cannon firing -->
  <gazebo>
    <plugin name="gazebo_cannon_plugin" filename="libgazebo_cannon_plugin.so">
      <cannon_link>cannon_link</cannon_link>
      <axis_of_fire>x</axis_of_fire>
      <rocket_count>18</rocket_count>
      <rate_of_fire>18.18</rate_of_fire>
      <shoot_force>2500</shoot_force>
    </plugin>
  </gazebo>

  <!-- Add and visualize a fake range sensor to see where the cannon is pointing to -->
  <gazebo reference="ir_cannon_link">
    <sensor type="ray" name="ir_cannon">
      <always_on>true</always_on>
      <update_rate>20</update_rate>
      <visualize>true</visualize>
      <ray>
        <range>
          <min>0.1</min>
          <max>5.0</max>
          <resolution>0.01</resolution>
        </range>
      </ray>
      <plugin name="gazebo_ros_ir_cannon_controller" filename="libgazebo_ros_range.so">
        <updateRate>20</updateRate>
        <topicName>mobile_base/sensors/infrared/cannon</topicName>
        <frameName>ir_cannon_link</frameName>
        <radiation>infrared</radiation>
        <fov>0.001</fov>
      </plugin>
    </sensor>
  </gazebo>
  <joint name="ir_cannon_joint" type="fixed">
    <origin xyz="0.035 0.0 0.0"/>
    <parent link="cannon_link"/>
    <child link="ir_cannon_link"/>
  </joint>
  <link name="ir_cannon_link"/>

  <!-- Gazebo configuration for other structural parts -->
  <xacro:macro name="structural_part" params="name color">
    <gazebo reference="${name}_link">
      <material>Gazebo/${color}</material>
      <selfCollide>false</selfCollide>
      <gravity>true</gravity>
    </gazebo>
  </xacro:macro>

  <xacro:structural_part name="sonars_mount" color="Black"/>
  <xacro:structural_part name="senz3d_mount" color="Black"/>
  <xacro:structural_part name="xtion_mount"  color="Black"/>
  <xacro:structural_part name="arm_mount"    color="Black"/>
  <xacro:structural_part name="opencm"       color="Black"/>
  <xacro:structural_part name="tray"         color="Yellow"/>
  <xacro:structural_part name="cannon"       color="Black"/>
  <xacro:structural_part name="cannon_servo" color="Black"/>
  <xacro:structural_part name="cannon_shaft" color="Black"/>
  <xacro:structural_part name="cannon_tube1" color="Black"/>
  <xacro:structural_part name="cannon_tube2" color="Black"/>
  <xacro:structural_part name="cannon_tube3" color="Black"/>
  <xacro:structural_part name="cannon_tube4" color="Black"/>
  <xacro:structural_part name="cannon_tube5" color="Black"/>
  <xacro:structural_part name="cannon_tube6" color="Black"/>
</robot>
