<?xml version="1.0"?>
<robot name="xtion_camera" xmlns:xacro="http://ros.org/wiki/xacro">
  
  <!-- Xacro properties -->
  <xacro:property name="asus_xtion_pro_depth_rel_rgb_py" value="0.0270"/>
  <xacro:property name="asus_xtion_pro_cam_rel_rgb_py" value="-0.0220"/>

  <!-- 3D sensor macro -->
  <xacro:macro name="xtion_camera" params="parent name *origin *visual_origin">
    <joint name="${name}_rgb_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${name}_rgb_frame"/>
    </joint>
    <link name="${name}_rgb_frame"/>

    <joint name="${name}_rgb_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}"/>
      <parent link="${name}_rgb_frame" />
      <child link="${name}_rgb_optical_frame"/>
    </joint>
    <link name="${name}_rgb_optical_frame"/>

    <joint name="${name}_joint" type="fixed">
      <origin xyz="0 ${asus_xtion_pro_cam_rel_rgb_py} 0" 
              rpy="0 0 0"/>
      <parent link="${name}_rgb_frame"/>
      <child link="${name}_link"/>
    </joint>
    <link name="${name}_link">
      <visual>
        <!-- Visual origin is parameterized because the "ideal" pose used on
             simulation and the "working" pose used with the real robot differ -->
        <xacro:insert_block name="visual_origin"/>
        <geometry>
          <mesh filename="package://turtlebot_description/meshes/sensors/xtion_pro_camera.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="-0.018 0.0035 0.004" rpy="0 0 0"/>
        <geometry>
        <box size="0.04 0.185 0.03"/>
      </geometry>
      </collision>
      <inertial>
        <mass value="0.170" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.001152600" ixy="0.0" ixz="0.0"
                 iyy="0.000148934" iyz="0.0"
                 izz="0.001154654" />
      </inertial>
    </link>

    <joint name="${name}_depth_joint" type="fixed">
      <origin xyz="0 ${asus_xtion_pro_depth_rel_rgb_py} 0" rpy="0 0 0"/>
      <parent link="${name}_rgb_frame"/>
      <child link="${name}_depth_frame"/>
    </joint>
    <link name="${name}_depth_frame"/>

    <joint name="${name}_depth_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}"/>
      <parent link="${name}_depth_frame"/>
      <child link="${name}_depth_optical_frame"/>
    </joint>
    <link name="${name}_depth_optical_frame"/>

    <!-- RGBD sensor for simulation -->
    <thorp_sim_3dsensor name="${name}" depth_registration="true"/>
  </xacro:macro>
</robot>
