<!--
  Simulated version of Thorp's object manipulation app:
  - Thorp Gazebo simulation
  - Perception and manipulation
  - Executive SMACH and visualization
  - Keyboard user interaction
 -->

<launch>
  <arg name="app_name" value="object_manip"/>
  <arg name="viz_smach" default="false"/>
  <arg name="start_delay" default="0.0"/>
  <arg name="record_video" default="false"/>

  <!--  ***** Simulated mobile manipulator Thorp ******  -->
  <include file="$(find thorp_simulation)/launch/thorp_gazebo.launch">
    <arg name="world_name"     default="playground"/>
    <arg name="initial_pose_x" default="0.0"/>
    <arg name="initial_pose_y" default="0.0"/>
    <arg name="initial_pose_a" default="0.0"/>
    <arg name="localization"   value="gazebo"/>
  </include>

  <!-- Spawn a table with some tabletop objects -->
  <node pkg="thorp_simulation" type="spawn_gazebo_models.py" name="objects_spawner" output="screen" args="playground_objs"/>

  <!--  ********* Perception and manipulation *********  -->
  <include file="$(find thorp_perception)/launch/perception.launch">
    <arg name="pipeline" value="RAIL"/>
  </include>

  <include file="$(find thorp_manipulation)/launch/manipulation.launch">
    <arg name="simulation" value="true"/>
    <arg name="debug" value="false"/>
  </include>

  <!--  ********** Keyboard user interaction **********  -->
  <!-- We do it required so it will shutdown the whole demo on exit -->
  <node pkg="thorp_bringup" type="keyboard_ctrl.py" name="$(arg app_name)_key_ctrl" output="screen" required="true"
        args="$(arg app_name)">
    <param name="window_geometry" value="360x240"/>
    <param name="window_caption" value="Object manipulation user commands"/>
    <param name="text_font" value="Comic Sans MS"/>
    <param name="font_size" value="12"/>
    <rosparam param="valid_commands">['start', 'stop', 'reset', 'clear', 'fold']</rosparam>
  </node>


  <!--  ******* Components common for all apps ********  -->

  <include file="$(find thorp_simulation)/launch/includes/apps_common.launch.xml">
    <arg name="app_name" value="$(arg app_name)"/>
    <arg name="viz_smach" value="$(arg viz_smach)"/>
    <arg name="start_delay" value="$(arg start_delay)"/>
    <arg name="record_video" value="$(arg record_video)"/>
  </include>

  <node name="rviz" pkg="rviz" type="rviz" output="screen" respawn="true"
        args="-d $(find thorp_bringup)/rviz/manipulation.rviz"/>
</launch>
