#! /usr/bin/env python

PACKAGE='thorp_navigation'

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()
gen.add("enabled", bool_t, 0, "Following enabled/disabled", True)
gen.add("v_scale", double_t, 0, "The scaling factor for translational robot speed", 1.0, 0.0, 3.0)
gen.add("w_scale", double_t, 0, "The scaling factor for rotational robot speed", 5.0, 0.0, 10.0)
gen.add("distance", double_t, 0, "The desired distance to the target pose", 1.0, 0.0, 5.0)

exit(gen.generate(PACKAGE, "thorp_navigation_dynamic_reconfigure", "Follower"))
