#!/usr/bin/env python
PACKAGE = "thorp_costmap_layers"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("enabled", bool_t, 0, "Enable/Disable the layer", True)

exit(gen.generate(PACKAGE, "thorp_costmap_layers", "SemanticLayer"))
