#!/usr/bin/env python
PACKAGE = "thorp_costmap_layers"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("enabled", bool_t, 0, "Enable/Disable the layer", True)

# Enable/disable each interface
group_interfaces = gen.add_group("Interfaces")
group_interfaces.add("service_enabled", bool_t, 0, "Enable/disable the service interface", True)

exit(gen.generate(PACKAGE, "thorp_costmap_layers", "SemanticLayer"))
