<!--
  Thorp full simulation:
  - gazebo
  - simulated robot
  - move base
  - static map
  - amcl localization
  - moveit arm control
  - rviz view
 -->

<launch>
  <arg name="debug"          default="false"/>

  <!-- Name of the map to use (without path nor extension) and initial position -->
  <arg name="map_name"       default="playground"/>
  <arg name="initial_pose_x" value="0.0"/>
  <arg name="initial_pose_y" value="0.0"/>
  <arg name="initial_pose_a" value="0.0"/>

  <!--  ******************** Gazebo *******************  -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(find thorp_simulation)/worlds/gazebo/$(arg map_name).world"/>
  </include>

  <!--  *************** Simulated Robot ***************  -->
  <include file="$(find thorp_simulation)/launch/includes/thorp_gazebo.launch.xml"/>

  <!--  ******** Velocity commands multiplexer ********  -->
  <node pkg="nodelet" type="nodelet" name="mobile_base_nodelet_manager" args="manager"/>
  <node pkg="nodelet" type="nodelet" name="cmd_vel_mux" args="load yocs_cmd_vel_mux/CmdVelMuxNodelet mobile_base_nodelet_manager">
    <param name="yaml_cfg_file" value="$(find thorp_bringup)/param/vel_multiplexer.yaml"/>
  </node>

  <!-- Bumper/cliff events to pointcloud, so can be integrated on move_base's costmaps  -->
  <!-- TODO (not working, as it needs sensors/core messages and kobuki plugin only provides the events)
       Make a new nodelet bumper2range and PR to Yujin -->
  <include file="$(find turtlebot_bringup)/launch/includes/kobuki/bumper2pc.launch.xml"/>

  <!--  ************** Additional sensors *************  -->
  <include file="$(find thorp_bringup)/launch/includes/virt_sensor.launch.xml"/>

  <!--  ** Turtlebot 2 move base with custom tweaks ***  -->
  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml">
    <arg name="custom_param_file" value="$(find thorp_bringup)/param/custom_move_base.yaml"/>
  </include>

  <!--  ****** Geometric and semantic map servers *****  -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find thorp_bringup)/resources/maps/$(arg map_name).yaml">
    <param name="frame_id" value="/map"/>
  </node>

  <!--  ******************** Amcl *********************  -->
  <include file="$(find thorp_bringup)/launch/includes/amcl.launch.xml">
    <arg name="scan_topic" value="scan"/>
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>

  <!--  ************* Moveit config stuff *************  -->

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find thorp_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="false"/>
  </include>

  <!-- Run the main MoveIt executable -->
  <include file="$(find thorp_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>  
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!--  **** Full mobile manipulator visualization ****  -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find thorp_bringup)/rviz/view_all.rviz"/>
</launch>
