<!--
  Thorp full simulation:
  - gazebo
  - simulated robot
  - move base
  - static map
  - amcl localization
  - moveit arm control
  - rviz view
 -->

<launch>
  <arg name="debug"          default="false"/>
  <arg name="paused"         default="true"/>

  <arg name="move_base_flex" default="true"/>

  <!-- Name of the world to spawn (without path nor extension) and initial position -->
  <arg name="world_name"     default="playground"/>
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>

  <!--  ******************** Gazebo *******************  -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="respawn_gazebo" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="world_name" value="$(find thorp_simulation)/worlds/gazebo/$(arg world_name).world"/>
  </include>

  <!--  *************** Simulated Robot ***************  -->
  <include file="$(find thorp_simulation)/launch/includes/thorp_gazebo.launch.xml">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>

  <!--  ******** Velocity commands multiplexer ********  -->
  <node pkg="nodelet" type="nodelet" name="mobile_base_nodelet_manager" args="manager"/>
  <node pkg="nodelet" type="nodelet" name="cmd_vel_mux" args="load yocs_cmd_vel_mux/CmdVelMuxNodelet mobile_base_nodelet_manager">
    <param name="yaml_cfg_file" value="$(find thorp_bringup)/param/vel_multiplexer.yaml"/>
  </node>

  <!--  *************** Virtual sensors ***************  -->
  <include file="$(find thorp_bringup)/launch/includes/virt_sensor.launch.xml"/>

  <!-- Bumper/cliff events to pointcloud, so can be integrated on move_base's costmaps  -->
  <!-- TODO (not working, as it needs sensors/core messages and kobuki plugin only provides the events)
       Make a new nodelet bumper2range and PR to Yujin -->
  <include file="$(find turtlebot_bringup)/launch/includes/kobuki/bumper2pc.launch.xml"/>

  <!--  ***************** Navigation ******************  -->
  <include file="$(find thorp_navigation)/launch/navigation.launch">
    <arg name="move_base_flex" value="$(arg move_base_flex)"/>
    <arg name="map_file"       value="$(find thorp_simulation)/worlds/maps/$(arg world_name).yaml"/>
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>
</launch>
