<!--
  Thorp full simulation:
  - gazebo
  - simulated robot
  - moveit arm control
  - navigation
  - rviz view
 -->

<launch>
  <arg name="debug"          default="false"/>
  <arg name="paused"         default="true"/>

  <!-- To specify a simulated world other than the default 'playground', provide either word_name
       (without path nor extension), or the path to a world file.
       Optionally, provide also an initial position -->
  <arg name="world_name"     default="playground"/>
  <arg name="world_file"     default="$(find thorp_simulation)/worlds/gazebo/$(arg world_name).world"/>
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>

  <!--  ******************** Gazebo *******************  -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="verbose" value="$(arg debug)"/>
    <arg name="respawn_gazebo" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="world_name" value="$(arg world_file)"/>
  </include>

  <!--  *************** Simulated Robot ***************  -->
  <include file="$(find thorp_simulation)/launch/includes/thorp_gazebo.launch.xml">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>

  <!--  ************* Common functionality ************  -->
  <include file="$(find thorp_simulation)/launch/includes/sim_common.launch.xml"/>
</launch>
