<launch>
  <arg name="simulation" default="false" />

  <include file="$(find thorp_boards)/launch/opencm.launch">
    <arg name="simulation" value="$(arg simulation)"/>
  </include>

  <node name="gripper_controller" pkg="arbotix_controllers" type="gripper_controller">
    <param name="model" value="singlesided"/>
    <param name="invert" value="true"/>
    <param name="pad_width" value="0.065"/>
    <param name="finger_length" value="0.07"/>
    <param name="min_opening" value="0.0"/>
    <param name="max_opening" value="0.07"/>
  </node>
</launch>
