<!--
  Thorp model
 -->
<launch>
  <arg name="use_joints_gui" default="false"/>

  <include file="$(find thorp_bringup)/launch/includes/_state_publisher.launch">
    <arg name="simulation" value="true"/>
  </include>
  
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="$(arg use_joints_gui)"/>
  </node>
</launch>
