<!-- 
         Safety, reactive controller
-->
<launch>
  <!-- Velocity smoother nodelet; we must provide the absolute name of nodelet manager, as we can be in an application namespace -->
  <node pkg="nodelet" type="nodelet" name="safety_ctrl_velocity_smoother" args="load yocs_velocity_smoother/VelocitySmootherNodelet /mobile_base_nodelet_manager">
    <rosparam file="$(find thorp_bringup)/param/vel_smoother.yaml" command="load"/>
    <param name="accel_lim_v"  value="0.5"/>
    <param name="decel_factor" value="3.0"/>  <!-- Make breaking almost unsmoothed so bumper and cliff sensors do their job -->

    <remap from="safety_ctrl_velocity_smoother/smooth_cmd_vel" to="/cmd_vel_mux/input/safety_ctrl"/>
    <remap from="safety_ctrl_velocity_smoother/robot_cmd_vel" to="/mobile_base/commands/velocity"/>
    <remap from="safety_ctrl_velocity_smoother/odometry" to="/odom"/>
  </node>

  <!-- Safety controller nodelet; we must provide the absolute name of nodelet manager, as we can be in an application namespace -->
  <node pkg="nodelet" type="nodelet" name="navigation_safety_controller" args="load kobuki_safety_controller/SafetyControllerNodelet /mobile_base_nodelet_manager">
    <remap from="navigation_safety_controller/cmd_vel"           to="safety_ctrl_velocity_smoother/raw_cmd_vel"/>
    <remap from="navigation_safety_controller/events/bumper"     to="/mobile_base/events/bumper"/>
    <remap from="navigation_safety_controller/events/cliff"      to="/mobile_base/events/cliff"/>
    <remap from="navigation_safety_controller/events/wheel_drop" to="/mobile_base/events/wheel_drop"/>
  </node>
</launch>
