<!--
  Launch softkinetic camera driver
  The argument 0 is the device index, as determined by the DepthSense deamon.
-->
<launch>
  <node name="senz3d" pkg="softkinetic_camera" type="softkinetic_bringup_node" args="0" output="screen">
    <param name="camera_link" type="string" value="/senz3d_camera_link"/>
    <param name="confidence_threshold" type="int" value="200"/>
    <param name="use_radius_filter" type="bool" value="true"/>
    <param name="voxel_grid_side" type="double" value="0.01"/>
    <param name="search_radius" type="double" value="0.025"/>
    <param name="minNeighboursInRadius" type="int" value="30"/>
  </node>
</launch>
