<launch>
  <arg name="output" default="screen"/>
  <arg name="respawn" default="false"/>

  <arg name="app_name"/>

  <arg name="publish_bt" default="false"/>

  <node pkg="thorp_bt_cpp" type="bt_runner_node" name="$(arg app_name)" output="$(arg output)" respawn="$(arg respawn)" launch-prefix="gdb -ex run --args">
    <param name="app_name" value="$(arg app_name)"/>
    <param name="publish_bt" value="$(arg publish_bt)"/>
    <param name="bt_filepath" value="$(find thorp_bt_cpp)/bt/$(arg app_name).xml"/>
    <param name="nodes_filepath" value="$(find thorp_bt_cpp)/bt/node_models.xml"/>
  </node>
</launch>
